/*INICIO*/
.init{
  height: 100vh;
  background: white;
}
.init_slider{
  background: rgb(235, 235, 235);
  height: 80vh;
  position: fixed;
  width: 100%;
}

.sl_1_content{
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}
.sl_1_content div{
  width: 100%;
}

.sl_1_content h2{
  color:white;
}

.sl_1_content h3{
  color:white;
}

.sl_1_content p{
  color:white;
}

.sl_1_content .sl_img_1{
    
}


/*.nav-p{
  height: auto;
  position: relative;
  top: 80vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}*/

/*nav{
  height: 20vh;
  width: 100%;
  background-color: white;
}*/







/* SERVICIOS clave => serv*/

/*estilo de fuentes*/
@import url('https://fonts.googleapis.com/css?family=Kavivanar|Bad+Script|Courgette|Kalam|Macondo|Raleway|Josefin+Sans');

.font-raleway{
    font-family: 'Raleway', sans-serif;
}

.font-josefina{
    font-family: 'Josefin Sans', sans-serif;
}

.font-macondo{
    font-family: 'Macondo', cursive;
}

.font-courgette{
    font-family: 'Courgette', cursive;
}

.font-kalam{
    font-family: 'Kalam', cursive;
}

.font-badScript{
    font-family: 'Bad Script', cursive;
}

.font-kavivanar{
    font-family: 'Kavivanar', cursive;
}

.negrita{
    font-weight: bold;
}

.tam-1em{
    font-size: 1em;
}

.tam-1-medio-em{
    font-size: 1.5em;
}

.tam-2em{
    font-size: 2em;
}

.tam-2-medio-em{
    font-size: 2.5em;
}
/*fin fuentes*/

#serv-pnl-prin{
    background-color: #35363A;
    padding: 30px 0;
}

    #serv-pnl-title{
        text-align: center;
        color: white;
    }

        #serv-pnl-title h2{
            margin: 0;
            margin-top: 5px;
        }

    .ser-nombres{
        color: white;
    }

/* metodos necesarios para el scroll de animate */
.ocultar{
    opacity:0;
}

/*metodos para los servicios especificos*/
#fc-slideshow{
    width: 300px !important;
    height: 300px !important;
}

    #fc-slideshow ul li img{
        width: 300px !important;
    }

#serv-pg-prin{
    padding: 65px 5px 10px 5px;
}

#serv-pag-derecha{
    padding-right: 35px;
}

    #serv-pag-derecha h3{
        font-size: 2em;
        margin-bottom: 25px;
    }

    #serv-pag-derecha p{
        font-size: 2em;
    }